html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2 !important;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &--full {
    max-width: 1000px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  padding-top: 140px;
}

.main-layout-white {
  background-color: #fff;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 680px;
}